body {
  font-family: Arial, sans-serif;
  background-color:white;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background:rgb(218, 215, 215);
  padding: 20px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 9000px;
  width: 100%;
}



h1 {
  margin-bottom: 10px;
  font-size: 35px;
  color: #333;
  text-align: center;
  padding-top: 17px;

}

.container {
  display: inline-block;
  /* flex-direction: ; */
  align-items: stretch;
}

label {
  margin: 5px 0 0;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 350px;
  padding: 13px;
  /* margin: 0 0 15px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button{
 
  padding: 10px;
  margin-top: 10px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  /* background-color: #007bff;
  color: white; */
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #05080a;
  color: #fff;
}
input{
  width:100px

}
.sign{
  text-decoration: none;
  text-decoration: none;
  color: #05080a;
}
.error{
  color: red;
  font-size: small;
  margin: 0px;
  padding-left: 5px;
}
